@(subjects: Iterable[Subject])(implicit flash: Flash) @main("选择题") {
<div class="btn-group">
	<a type="button" class="btn btn-default" href="@routes.Choices.createForm">创建</a>
</div>

<div class="accordion" id="choices_container">
	@for((s, index) <- subjects.zipWithIndex) {
	<div class="accordion-group">
		<div class="accordion-heading">
			<div class="row">
				<div class="col-lg-10">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#choices_container"
						href="#choice_@s.id">@(index + 1). @s.title</a>
				</div>
				<div class="col-lg-2">
					<div class="col-lg-1">
						<a class="accordion-toggle" href="@routes.Choices.editForm(s.id.get)"><span class="glyphicon glyphicon-edit"></span></a>
					</div>
					<div class="col-lg-1">
						<form method="post" action="@routes.Choices.delete(s.id.get)">
							<a class="accordion-toggle" href="#" onclick="$(this).closest('form').submit();return false;"><span class="glyphicon glyphicon-remove-sign"></span></a>
						</form>
					</div>
				</div>
			</div>

		</div>
		<div id="choice_@s.id" class="accordion-body collapse collapse">
			<div class="accordion-inner">
				<div class="row">
					@for(c <- s.choices.zipWithIndex) {
						<div class="col-lg-3">@((c._2 + 65).toChar). @c._1.description</div>
					}
				</div>
			</div>
		</div>
	</div>
	}
</div>
}
